*{
    
    padding: 0px;
    margin: 0px;
    text-decoration: none;

}
body{
    text-align: center;
}

nav a{
    text-decoration: none;
    font-family: Montserrat !important;
    font-weight: 600;
    letter-spacing: 4px !important;
    font-size: 25px !important;
    margin: 0 10px !important;
    color: #fff !important;
}
.container spice p{
    font-family: bignoodletitling !important;
    font-size: 25px !important;


}

.footerli{
    letter-spacing: 5px;
    font-size: 16px;
    text-align: center;
}


